html {
    border-top: 8px solid #333;
}

body {
    color: black;
    margin: 0px auto 0px auto;
    width: 600px;
    font-family: "sorts-mill-goudy";
    font-size: 1.1em;
    color: #333
}


div#header {
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}

div#logo a {
    color: black;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

div#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

.sidenote {
  position: absolute;
  margin-left: 630px;
  font-size: 0.8em;
  color: #333;
}

.sidenote p {
    margin: 5px 0 5px 0;
    padding-right: 20px;
}

.caption {
    display: none;
}

.captioned-image img {
    margin: 0 auto 0 auto;
    display: block;
}

.highlight {
    margin: 0 20px 0 20px;
    padding: 10px;
    background: #eee;
}

.highlight pre {
    margin: 0;
}
