html {
    border-top: 5px solid $fstColor$;
}

/* #40A2F4 */

body {
    color: black;
    margin: 0px auto 0px auto;
    width: 800px;
    font-family: "sorts-mill-goudy";
    font-size: 1.1em;
    color: $fstColor$;
}

header {
  margin-bottom: 4em;
  padding: 50px 0 70px 0;
  border-bottom: 1px solid #575757;
  text-align: center;
}

header .navi {
    margin-left: -10px;
}

header .navi a {
    color: black;
    margin-left: 12px;
    text-decoration: none;
}

header .bird {
  background-image: url(/images/bird.png);
  width: 90px;
  height: 90px;
  background-size: 100%;
  margin-top: 65px;
  position: absolute;
  left: 50%;
  margin-left: -45px;
  top: 84px;
  background-color: white;
}

#footer {
    border-top: solid 1px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 20px;
}

.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
    text-align: center;    
}

.caption {
    display: none;
}

.captioned-image img {
    margin: 0 auto 0 auto;
    display: block;
}

div.highlight {
    margin: 0 20px 0 20px;
    padding: 10px;
    background: #eee;
    overflow: auto;
}

code {
   background: #eee;
   display: inline-block;
   padding: 2px;
}

.highlight pre {
    margin: 0;
}

.main-text {
    /* margin-left: -220px; */
    /* width: 700px; */
}

.sidenote {
  position: absolute;
  margin-left: 830px;
  font-size: 0.8em;
  color: #333;
}

.sidenote ol {
    margin: 0;
}

.sidenote p {
    margin: 5px 0 5px 0;
    padding-right: 20px;
}

.footnotes {
  font-size: 0.8em;
  color: #333;
  display: none;
}

/* Medium screens */
@media only screen and (min-width: 850px) and (max-width: 1200px) {
    .main-text {
        margin-left: -107px;
        width: 600px;
    }

    .sidenote {
        margin-left: 580px;
    }

    body {
        width: 600px;
    }
}

/* Medium and small */
@media only screen and (min-width: 0px) and (max-width: 1200px) {
    header {
        padding: 40px 0 60px 0;
    }

    header .bird {
        width: 65px;
        height: 65px;
        margin-left: -32.5px;
        margin-top: 45px;
    }

    body {
        font-size: 0.9em;
    }
}

/* Small screens */
@media only screen and (min-width: 0px) and (max-width: 850px) {
    #content {
        padding: 20px;
    }

    .sidenote {
        display: none;
    }

    .footnotes {
        display: block;
    }

    body {
        width: 100%;
    }

    #footer {
        padding-right: 15px;
    }

    .main-text {
        margin-left: 0;
        width: 100%;
    }
}