html {
    border-top: 8px solid $fstColor$;
}

/* #40A2F4 */

body {
    color: black;
    margin: 0px auto 0px auto;
    width: 600px;
    font-family: "sorts-mill-goudy";
    font-size: 1.1em;
    color: $fstColor$;
}

header {
  margin-bottom: 4em;
  padding: 40px 0 60px 0;
  border-bottom: 1px solid #575757;
  text-align: center;
}

header .navi a {
    color: black;
    margin-left: 12px;
    text-decoration: none;
}

header .bird {
  background-image: url(/images/bird.png);
  width: 90px;
  height: 90px;
  background-size: 100%;
  margin-top: 45px;
  position: absolute;
  left: 50%;
  margin-left: -45px;
  top: 84px;
  background-color: white;
}

div#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 20px;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
    text-align: center;    
}

.sidenote {
  position: absolute;
  margin-left: 630px;
  font-size: 0.8em;
  color: #333;
}

.footnotes {
  font-size: 0.8em;
  color: #333;
}

.sidenote p {
    margin: 5px 0 5px 0;
    padding-right: 20px;
}

.caption {
    display: none;
}

.captioned-image img {
    margin: 0 auto 0 auto;
    display: block;
}

.highlight {
    margin: 0 20px 0 20px;
    padding: 10px;
    background: #eee;
}

.highlight pre {
    margin: 0;
}

.footnotes {
    display: none;
}

/* Medium screens */
@media only screen and (min-width: 600px) and (max-width: 1200px) {
    #content {
        margin-left: -107px;
        width: 600px;
    }
}

/* Small screens */
@media only screen and (min-width: 0px) and (max-width: 600px) {
    #content {
        padding: 20px;
    }

    .sidenote {
        display: none;
    }

    .footnotes {
        display: block;
    }

    body {
        width: 100%;
    }
}