@font-face {
    font-family: "sorts-mill-goudy";
    src: url("/font/GoudyStM-webfont.eot");
    src: url("/font/GoudyStM-webfont.eot?#iefix") format("embedded-opentype"),url("/font/GoudyStM-webfont.woff") format("woff"),url("/font/GoudyStM-webfont.ttf") format("truetype"),url("/font/GoudyStM-webfont.svg#sorts-mill-goudy") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "sorts-mill-goudy-italic";
    src: url("/font/GoudyStM-Italic-webfont.eot");
    src: url("/font/GoudyStM-Italic-webfont.eot?#iefix") format("embedded-opentype"),url("/font/GoudyStM-Italic-webfont.woff") format("woff"),url("/font/GoudyStM-Italic-webfont.ttf") format("truetype"),url("/font/GoudyStM-Italic-webfont.svg#sorts-mill-goudy-italic") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "museo-sans";
    src: url("/font/MuseoSans.eot");
    src: url("/font/MuseoSans.eot?#iefix") format("embedded-opentype"),url("/font/MuseoSans.woff") format("woff"),url("/font/MuseoSans.ttf") format("truetype"),url("/font/MuseoSans.svg#museo-sans") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "sofia-pro-light";
    src: url("/font/SofiaProLight-webfont.eot");
    src: url("/font/SofiaProLight-webfont.eot?#iefix") format("embedded-opentype"),url("/font/SofiaProLight-webfont.woff") format("woff"),url("/font/SofiaProLight-webfont.ttf") format("truetype"),url("/font/SofiaProLight-webfont.svg#sofia-pro-light") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "bookletter";
    src: url("/font/goudy_bookletter_1911-webfont.eot");
    src: url("/font/goudy_bookletter_1911-webfont.eot?#iefix") format("embedded-opentype"),url("/font/goudy_bookletter_1911-webfont.woff") format("woff"),url("/font/goudy_bookletter_1911-webfont.ttf") format("truetype"),url("/font/goudy_bookletter_1911-webfont.svg#bookletter") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "governor";
    src: url("/font/governor-webfont.eot");
    src: url("/font/governor-webfont.eot?#iefix") format("embedded-opentype"),url("/font/governor-webfont.woff") format("woff"),url("/font/governor-webfont.ttf") format("truetype"),url("/font/governor-webfont.svg#governor") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "nevis";
    src: url("/font/nevis-webfont.eot");
    src: url("/font/nevis-webfont.eot?#iefix") format("embedded-opentype"),url("/font/nevis-webfont.woff") format("woff"),url("/font/nevis-webfont.ttf") format("truetype"),url("/font/nevis-webfont.svg#nevis") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "calluna-regular";
    src: url("/font/Calluna-Regular-webfont.eot");
    src: url("/font/Calluna-Regular-webfont.eot?#iefix") format("embedded-opentype"),url("/font/Calluna-Regular-webfont.woff") format("woff"),url("/font/Calluna-Regular-webfont.ttf") format("truetype"),url("/font/Calluna-Regular-webfont.svg#calluna-regular") format("svg");
    font-weight: normal;
    font-style: normal
}
/*
*::selection {
    background: red;
    color: #fff
}

*::-moz-selection {
    background: red;
    color: #fff
}

*::-webkit-selection {
    background: red;
    color: #fff
}
*/

@media only screen and (max-width: 1000px) {
    body {
        font-size:0.9em
    }
}

em {
    font-style: normal;
    font-family: "sorts-mill-goudy-italic"
}

h1 {
    margin-top: 2em;
    font-size: 1.4em;
    font-weight: normal;
    font-style: normal;
    text-align: center
}

h2 {
    margin-top: 2em;
    font-size: 1.1em;
    font-weight: bold;
    font-style: normal
}

.wrap {
    margin: 0 auto;
    width: 45%
}

@media only screen and (min-width: 0px) and (max-width: 1200px) {
    .wrap {
        width:90%
    }
}

.wrap>footer {
    margin-top: 2em;
    padding: 2em 0;
    border-top: 1px solid #dfdfdf;
    text-align: center;
    font-size: 0.8em
}

header {
    margin-bottom: 4em;
    padding: 150px 0;
    border-bottom: 1px solid #dfdfdf;
    text-align: center
}

header .title {
    font-family: "nevis";
    font-size: 2.3em;
    text-transform: uppercase
}

header .navi {
    font-family: "sorts-mill-goudy";
    font-size: 1.15em
}

header .navi ul {
    margin: 0.4em 0 0 0;
    padding: 0;
    list-style: none
}

header .navi ul li {
    display: inline-block;
    vertical-align: baseline;
    zoom:1;*display: inline;
    *vertical-align: auto;
    margin: 0;
    padding: 0 0.4em
}

header .navi ul li a {
    color: #333;
    text-decoration: none
}

header .navi ul li a:hover,header .navi ul li a:active {
    color: red
}

a {
    color: $sndColor$;
    text-decoration: none
}

a:hover {
    color: #333
}

blockquote {
    font-family: "sorts-mill-goudy-italic";
    font-size: 1em
}

article {
    margin-bottom: 8em;
    padding: 0;
    font-size: 1.1em;
    line-height: 1.7em;
    text-align: justify
}

article .content {
    padding-bottom: 2em
}

article footer {
    padding: 1em 0;
    border-bottom: 1px solid #dfdfdf;
    border-top: 1px solid #dfdfdf
}

article h1,article h2,article h3 {
    text-align: left
}

article h1 a,article h2 a,article h3 a {
    color: #333
}

article h1 a:hover,article h2 a:hover,article h3 a:hover {
    color: red
}

article header {
    margin: 0 0 3em 0;
    padding: 0;
    border: 0px;
    text-align: center
}

article header h1 {
    font-size: 1.6em;
    font-weight: normal;
    font-style: normal;
    line-height: 1.3em;
    text-align: center
}

article header time {
    font-size: 1em;
    font-style: normal
}

article hr {
    margin: 4em !important;
    height: 1px;
    border: none;
    color: #dfdfdf;
    background-color: #dfdfdf
}

article p .caption {
    font-family: "sorts-mill-goudy-italic";
    font-size: 0.9em
}

article p img {
    max-width: 100%;
    padding: 4px;
    -webkit-box-shadow: 0 0 0px 1px #b0b0b0;
    box-shadow: 0 0 0px 1px #b0b0b0
}

article p .word1,article p .word2,article p .word3 {
    font-size: 1em;
    font-variant: small-caps
}

.pagination {
    position: relative;
    margin: 5em 0
}

.pagination a {
    font-family: "sorts-mill-goudy";
    font-size: 1em;
    color: #333;
    text-decoration: none
}

.pagination a:hover {
    color: red
}

.pagination .newer {
    position: absolute;
    top: 0;
    right: 0
}

.pagination .older {
    position: absolute;
    top: 0;
    left: 0
}

.pagination span {
    display: block;
    width: 100%;
    text-align: center
}

.cat-year {
    padding-top: 1.5em;
    font-family: "nevis";
    font-size: 1.3em
}

.cat-month {
    margin: 2em 0 0.5em 2em;
    font-family: "nevis";
    font-size: 1em
}

.title-listing {
    margin-left: 2em
}
